

/* ----Main background animation Slide---- */
@keyframes main-image-slide {
    0% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364572/Fragrance/laura-chouette-2H_8WbVPRxM-unsplash_bgzzho.jpg');
    }
    14% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364561/Fragrance/simon-tackaert-ZYIPZ8Vs_Fg-unsplash_ygs4da.jpg');
    }
    28% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364937/Fragrance/batch-by-wisconsin-hemp-scientific-GtzRrPW3-qA-unsplash_nflahn.jpg');
    }
    42% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364951/Fragrance/lilli-p-VnvPz_QDSeU-unsplash_xij0bq.jpg');
    }
    56% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364951/Fragrance/lilli-p-VnvPz_QDSeU-unsplash_xij0bq.jpg');
    }
    70% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364944/Fragrance/allison-saeng-F7TK1eaR1KY-unsplash_qag1i7.jpg');
    }
    84% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364940/Fragrance/christin-hume-0MoF-Fe0w0A-unsplash_l7vra3.jpg');
    }
}

.slide-image {
    width: 100vw;
    height: 95vh;
    z-index: 1;
    padding: 8rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364567/Fragrance/olena-bohovyk-KPkR3e6BZG0-unsplash_evcyat.jpg');
    animation: main-image-slide 20s ease infinite;
}

.slide-image, .slide-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----Muted background cover--- */
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3);
}

/* ----Oval Animation Slide---- */
.animated-slide {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 12rem;
    object-fit: cover;
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    animation: sub-image-slide 20s ease infinite;
}

@keyframes sub-image-slide {
    0% {
        background-image: url('https://res.cloudinary.com/dsjhu8scn/image/upload/v1731364567/Fragrance/olena-bohovyk-KPkR3e6BZG0-unsplash_evcyat.jpg');
    }
    33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
    33.33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    66.66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    99% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    100% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
}

.take-a-leap {
    z-index: 1;
}

.take-a-leap h1 {
    width: 50%;
    margin-bottom: 20px;
}

.take-a-leap button {
    background-color: #93CAC0;
    color: var(--light);
}